## Data Rearangement

In [6]:
from google.colab import drive
drive.mount('/content/drive')
filepath = '/content/drive/MyDrive/542_Summer/FinalProject'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [7]:
filepath

'/content/drive/MyDrive/542_Summer/FinalProject'

In [10]:
import pandas as pd
df_true_init = pd.read_csv(filepath+'/True.csv') 
df_fake_init = pd.read_csv(filepath+'/Fake.csv')

In [30]:
df_true_init

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017"
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017"
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017"
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017"
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017"

In [31]:
df_fake_init

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016"
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016"
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016"
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016"
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016"

In [25]:
df_true_init['subject'].value_counts()

politicsNews    11272
worldnews       10145
Name: subject, dtype: int64

In [26]:
df_fake_init['subject'].value_counts()

News               9050
politics           6841
left-news          4459
Government News    1570
US_News             783
Middle-east         778
Name: subject, dtype: int64

In [33]:
from sklearn.utils import shuffle
df_true_shuffle = shuffle(df_true_init)
df_fake_shuffle = shuffle(df_fake_init)

In [34]:
df_true_shuffle.head()

,title,text,subject,date
14639,Kenya court to rule on presidential election c...,NAIROBI (Reuters) - Kenya s Supreme Court will...,worldnews,"November 16, 2017"
20807,"Florida stations face fuel shortages, delays a...",NEW YORK (Reuters) - Gasoline stations around ...,worldnews,"September 6, 2017"
162,"Republicans forge tax deal, final votes seen n...",WASHINGTON (Reuters) - Congressional Republica...,politicsNews,"December 13, 2017"
21012,Japan Airlines plane makes emergency landing i...,TOKYO (Reuters) - A Japan Airlines (JAL) plane...,worldnews,"September 5, 2017"
1621,Trump says North Korea's Kim 'will be tested l...,WASHINGTON (Reuters) - North Korea’s Kim Jong ...,politicsNews,"September 22, 2017"

In [35]:
df_fake_shuffle.head()

,title,text,subject,date
607,Totally-Not-Running-For-President Pence Signa...,Speculation about Vice-President Mike Pence s ...,News,"August 9, 2017"
1219,"Republicans Dine With Trump, Then Try To Rail...",Republicans are once again putting their party...,News,"June 8, 2017"
17766,BOOM! PRESIDENT TRUMP’S National Park Service ...,Beyonce made an attempt to glorify the violent...,left-news,"Oct 24, 2017"
2446,Mark Zuckerberg Brutally SHAMES Trump For Cal...,"Recently, President Bannon s underling, Donald...",News,"February 21, 2017"
3195,This AWESOME Book Tells Us Everything We’ll E...,Trump is not one for giving respect to anyone ...,News,"January 2, 2017"

## Add labels to the data to detect true/fake - T/F

In [41]:
df_true_shuffle.drop('Label', axis=1, inplace=True)
df_true_shuffle.insert(2,'Label','T')

In [43]:
df_true_shuffle

,title,text,Label,subject,date
14639,Kenya court to rule on presidential election c...,NAIROBI (Reuters) - Kenya s Supreme Court will...,T,worldnews,"November 16, 2017"
20807,"Florida stations face fuel shortages, delays a...",NEW YORK (Reuters) - Gasoline stations around ...,T,worldnews,"September 6, 2017"
162,"Republicans forge tax deal, final votes seen n...",WASHINGTON (Reuters) - Congressional Republica...,T,politicsNews,"December 13, 2017"
21012,Japan Airlines plane makes emergency landing i...,TOKYO (Reuters) - A Japan Airlines (JAL) plane...,T,worldnews,"September 5, 2017"
1621,Trump says North Korea's Kim 'will be tested l...,WASHINGTON (Reuters) - North Korea’s Kim Jong ...,T,politicsNews,"September 22, 2017"
...,...,...,...,...,...
4771,Factbox: Political risk outlook calendar for T...,(Reuters) - Financial market concerns are risi...,T,politicsNews,"March 22, 2017"
3948,"Restaurant, retail calorie disclosure rule in ...",LOS ANGELES (Reuters) - A much-delayed U.S. ru...,T,politicsNews,"May 2, 2017"
5797,The Art of the Deal: Why Putin needs one more ...,"MOSCOW (Reuters) - In his book, ‘Art of the D...",T,politicsNews,"February 1, 2017"
6377,Australia causing refugees 'severe and lasting...,SYDNEY (Reuters) - Australia’s poor treatment ...,T,politicsNews,"January 12, 2017"
9413,Lawmakers see path ahead for Puerto Rico rescu...,WASHINGTON (Reuters) - A Congressional plan to...,T,politicsNews,"May 25, 2016"

In [44]:
df_fake_shuffle.drop('Label', axis=1, inplace=True)
df_fake_shuffle.insert(2,'Label','F')

In [62]:
df_fake_shuffle

,title,text,Label,subject,date
607,Totally-Not-Running-For-President Pence Signa...,Speculation about Vice-President Mike Pence s ...,F,News,"August 9, 2017"
1219,"Republicans Dine With Trump, Then Try To Rail...",Republicans are once again putting their party...,F,News,"June 8, 2017"
17766,BOOM! PRESIDENT TRUMP’S National Park Service ...,Beyonce made an attempt to glorify the violent...,F,left-news,"Oct 24, 2017"
2446,Mark Zuckerberg Brutally SHAMES Trump For Cal...,"Recently, President Bannon s underling, Donald...",F,News,"February 21, 2017"
3195,This AWESOME Book Tells Us Everything We’ll E...,Trump is not one for giving respect to anyone ...,F,News,"January 2, 2017"
...,...,...,...,...,...
4091,Trump Has Ruined His Own Name So Badly His Ho...,Donald Trump probably thought that running for...,F,News,"October 21, 2016"
16146,WATCH MSNBC LIBERAL HACKS Claim Conspiracy Bet...,Have these two been watching the news?The Russ...,F,Government News,"Apr 8, 2017"
1890,Trump FURIOUS As Latest Obamacare Numbers Pro...,Donald Trump s approval rating plummeted after...,F,News,"April 5, 2017"
16602,TOP OBAMA OFFICIAL: We Find Illegal Aliens But...,THIS IS MADDENING! We have a president and con...,F,Government News,"May 20, 2016"
13860,OBAMA’S WORLD APOLOGY TOUR To Begin With Vietn...,It s been said that all Presidents get the itc...,F,politics,"May 22, 2016"

##Split 10% of the data to prepare test and train sets and merge the subsequent data

In [76]:
df_fake_test = df_fake_shuffle.iloc[:int(df_fake_shuffle.shape[0]/10):]
df_fake_train = df_fake_shuffle.iloc[int(df_fake_shuffle.shape[0]/10):,:]

In [77]:
df_true_test = df_true_shuffle.iloc[:int(df_true_shuffle.shape[0]/10):]
df_true_train = df_true_shuffle.iloc[int(df_true_shuffle.shape[0]/10):,:]

In [78]:
df_TestSet = pd.concat([df_fake_test, df_true_test], axis=0)
df_TrainSet = pd.concat([df_fake_train, df_true_train], axis=0)

In [81]:
df_TestSet = shuffle(df_TestSet)
df_TrainSet = shuffle(df_TrainSet)

In [85]:
print(df_TrainSet['Label'].value_counts(),df_TestSet['Label'].value_counts(),sep='\n\n')

F    21133
T    19276
Name: Label, dtype: int64

F    2348
T    2141
Name: Label, dtype: int64

In [86]:
df_TestSet

,title,text,Label,subject,date
3957,Florida LGBT rights push reflects changing times,"TALLAHASSEE, Fla. (Reuters) - A Republican, a ...",T,politicsNews,"May 2, 2017"
13707,Mexico's Meade to seek nomination of ruling PR...,MEXICO CITY (Reuters) - Mexico s outgoing fina...,T,worldnews,"November 27, 2017"
20993,BEST DESCRIPTION EVER Of Liberalism In One Par...,"The character of the modern Left, and the core...",F,left-news,"Feb 16, 2016"
2906,Groups see climate science review as chance to...,WASHINGTON (Reuters) - The Trump administratio...,T,politicsNews,"July 5, 2017"
2105,Investor Carl Icahn steps down as adviser to P...,(Reuters) - Billionaire investor Carl Icahn en...,T,politicsNews,"August 18, 2017"
...,...,...,...,...,...
14143,South Africa's Zuma met Zimbabwe's Mnangagwa i...,JOHANNESBURG (Reuters) - South African Preside...,T,worldnews,"November 22, 2017"
359,Your Local News Station Might Be Turning Into...,When Americans think about state-run televisio...,F,News,"September 17, 2017"
4578,Senate kills rule meant to protect family plan...,WASHINGTON (Reuters) - For the second time on ...,T,politicsNews,"March 30, 2017"
20522,Trump calls for a tax reform 'speed-up' in lig...,WASHINGTON (Reuters) - U.S. President Donald T...,T,worldnews,"September 10, 2017"
23160,"Finally, Obama Speaks: Americans Need to ‘Reco...",21st Century Wire says There is an amazing sce...,F,Middle-east,"November 14, 2016"

In [87]:
df_TrainSet

,title,text,Label,subject,date
14915,Russia's RT America registers as 'foreign agen...,MOSCOW/WASHINGTON (Reuters) - The Kremlin-back...,T,worldnews,"November 13, 2017"
7023,Trump to pick Seema Verma for Centers for Medi...,NEW YORK (Reuters) - U.S. President-elect Dona...,T,politicsNews,"November 29, 2016"
17057,Global Warming Scammer Makes Millions BUT Is J...,Global warming has been shoved down the throat...,F,Government News,"Oct 5, 2015"
17047,OUTRAGEOUS REPORT: EPA’s Wasteful Spending On ...,"Yes, the EPA has a PR department BUT they spen...",F,Government News,"Oct 12, 2015"
6056,"Despite no evidence, White House says Trump st...",WASHINGTON (Reuters) - President Donald Trump ...,T,politicsNews,"January 24, 2017"
...,...,...,...,...,...
624,Republican Senator Johnson opposes Senate tax ...,WASHINGTON (Reuters) - Republican U.S. Senator...,T,politicsNews,"November 15, 2017"
20123,MUSLIMS SILENT AFTER TERROR ATTACKS…BUT BLAME ...,"Whenever we have a terror attack in America, t...",F,left-news,"Aug 14, 2016"
17452,Hundreds of U.S. Marines leave Australia after...,SYDNEY (Reuters) - Three hundred U.S. Marines ...,T,worldnews,"October 15, 2017"
11645,OUCH! Leftist Hollywood Just Got Schooled By O...,Here is actor Robert John Davi s brilliant let...,F,politics,"Feb 16, 2017"
14358,UK queen and husband Philip celebrate 70 years...,LONDON (Reuters) - Queen Elizabeth and husband...,T,worldnews,"November 20, 2017"

In [89]:
df_TrainSet.to_csv(filepath+'/Train.csv')
df_TestSet.to_csv(filepath+'/Test.csv')